#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('../img/Bg.png');
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MainDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  
h1{
  font-size: 96px;
}

form{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

input{
  
  padding: 15px 10px;
  width: 15%;
  border-radius: 15px;
  border-width: 3px;
  font-size: 24px;
  transition: all 0.2s ease;
}

button:hover, input:hover{
  border-radius: 20px;
  border-color: blueviolet;
  transition: all 0.2s ease;
}

.Controlbtn{
  display: flex;
  justify-content: space-evenly;
}

button{
  padding: 10px 30px;
  border-radius: 15px;
  width: 45%;
  font-size: 24px;
  background: rgb(65, 62, 65);
  transition: all 0.2s ease;
}

.sbmt{
  width: 14%;
  background: rgb(24, 22, 24);
}

table{
  opacity: 0.9;
  width: 100%;
  background: rgb(24, 22, 24);
  border-color: antiquewhite;
}

tr, td, th{
  border-width: 3px;
}