.MainDiv_login {
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    border: none;
    position: relative;
    border-radius: 40px;
}

.emojiCard {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

}

.loginCard {
    min-width: 220px;
    max-width: 600px;
    border-radius: 40px;
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    overflow: hidden;
}

.h1Login {
    font-size: 84px;
    line-height: 100px;
    margin: 0;
    filter: drop-shadow(0px 0px 10px var(--blackHover));
    align-self: center;
}

.role{
    font-size: 24px;
    align-self: center;
    margin: 0;
}

.Lableinput {
    margin-left: 20px;
    margin-top: 25px;
    font-size: 16px;
}

.InputLogin {
    height: 70px;
    width: 100%;
    border: 1px solid var(--whiteAcent);
    border-radius: 40px;
    outline: none;
    font-size: 24px;
    transition: all 0.2s ease;
    padding: 20px;
    box-sizing: border-box;
    background: var(--blackAcent);
}

.InputLogin::placeholder {
    color: var(--textSecond);
    opacity: 0.2;
}

.InputLogin:not(:focus):hover {
    background-color: var(--whiteAcent);
}

.InputLogin:focus {
    background-color: var(--blackHover);
}

.LoginRegiseterBtn {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    transition: all 0.2s ease;
    padding: 20px;
    box-sizing: border-box;
    background: transparent;
    cursor: pointer;
}

.LoginBtn {
    height: 70px;
    width: 100%;
    border: 1px solid var(--whiteAcent);
    border-radius: 40px;
    outline: none;
    font-size: 24px;
    transition: all 0.2s ease;
    padding: 20px;
    box-sizing: border-box;
    background: var(--blackHover);
    margin-top: 25px;
    cursor: pointer;
}

.redbtn {
    background-color: var(--red);
    height: 70px;
    width: 100%;
    border: 1px solid var(--whiteAcent);
    border-radius: 40px;
    outline: none;
    font-size: 24px;
    transition: all 0.2s ease;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 25px;
    cursor: pointer;
}

.redbtn:hover {
    background-color: var(--redDark);
}

.LoginBtn:hover {
    background-color: var(--whiteAcent);
}

.login_anim {
    height: 520px;
    width: 520px;
}

@media (max-width: 1142px) {
    .loginCard {
        max-width: none;
    }

    .login_anim {
        height: 320px;
        width: 320px;
    }
}